body {
  background-color: #c96448;
}
header {
  border: red dotted;
  text-align: center;
  background-color: purple;
  position: relative;
  margin-top: -10px;
  height: 150px;
}

header h1 {
  position: relative;
  margin: 60px auto;
}
nav li {
  display: inline;
  border: red dotted;
}
nav {
  float: left;
  margin: 10px;
  margin: 10;
  border: dotted red;
  width: 20%;
  height: 400px;
}
section {
  position: relative;
  border: red dotted;
  width: 500px;
  float: left;
  height: 400px;
  margin: 10px auto;
}
aside {
  float: left;
  width: 20%;
  height: 400px;
  margin: 10px;
  border: blue dotted;
}
footer {
  border: green dashed;
  height: 150px;
  width: 1000px;
}